.container{
    width: 100%;
    height: 100%;
    background: url("../images/bgimg.png") no-repeat;
    background-size: 100% 100%;
    position: fixed;
    top: 0;
}
.reg{
    width: 1.59rem;;
    height: 0.59rem;
    border-radius: 0.65rem;
    position: absolute;
    top: 0.58rem;
    right: 0.24rem;
    background-color: #7cf037;
    font-family: PingFang-SC-Bold;
    font-size: 0.28rem;
    color: #ffffff;
    text-align: center;
    line-height: 0.59rem;
}
.login3{
    width: 4.48rem;
    height: 3.97rem;
    background-color: #ffffff;
    border-radius: 0.08rem;
    opacity: 0.42;
    position: absolute;
    top: 3.72rem;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.login2{
    width: 5.05rem;
    height: 3.77rem;
    background-color: #ffffff;
    border-radius:0.09rem;
    opacity: 0.38;
    position: absolute;
    top: 3.72rem;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.login1{
    width: 5.54rem;
    height: 3.58rem;
    background-color: #ffffff;
    border-radius: 0.10rem;
    position: absolute;
    top: 3.72rem;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.warning{
    height: 0.24rem;
    width: 5.54rem;
    position: absolute;
    top: 0.16rem;
    font-family: PingFang-SC-Bold;
    font-size: 0.18rem;
    color: #ff296f;
}
.warning>i{
    color: #ff296f;
    margin-left: 1.76rem;
    margin-right: 0.06rem;
    font-size: 0.24rem;
}
.infoBox{
    width: 3.9rem;
    height: 0.52rem;
    margin-top: 0.5rem;
    margin-left: 0.82rem;
}
.infoImage {
    width: 0.52rem;
    height: 0.52rem;
    border-radius: 50%;
    background-color: #7cf037;
    float: left;
    line-height: 0.52rem;
    text-align: center;
}
.infoImage>i {
    font-size: 0.4rem;
    color: #ffffff;
}
.infoText{
    width: 3.12rem;
    height: 0.50rem;
    border-radius: 0.31rem;
    border: solid 0.02rem #7cf037;
    box-sizing: border-box;
    margin-left: 0.78rem;
    line-height: 0.5rem;
}
.number{
    font-family: SanFranciscoDisplay-Bold;
    font-size: 0.20rem;
    color: #000000;
    margin-left: 0.45rem;
}
.infoDot{
    width: 0.05rem;
    height: 0.05rem;
    border-radius: 50%;
    color: #7cf037;
    margin-left: 0.21rem;
    margin-top: 0.23rem;
    float: left;
}
.tishi{
    line-height: 0.5rem;
    font-family: PingFang-SC-Bold;
    font-size: 0.20rem;
    color: #000000;
    opacity: 0.2;
    margin-left: 0.28rem;
}
.passBox{
    width: 3.12rem;
    height: 0.2rem;
    margin-top: 0.24rem;
    margin-left: 1.64rem;
    display: flex;
    justify-content: space-between;
}
.left{
    font-family: PingFang-SC-Bold;
    font-size: 0.18rem;
    color: #010101;
    opacity: 0.6;
    display: flex;
}
.login{
    width: 1.82rem;
    height: 0.48rem;
    background-color: #000000;
    opacity: 0.6;
    border-radius: 0.31rem;
    margin-left: 1.86rem;
    margin-top: 0.42rem;
    font-family: PingFang-SC-Bold;
    font-size: 0.28rem;
    color: #fafafa;
    line-height: 0.48rem;
    text-align: center;
}
.disanfangWord{
    width:3.68rem;
    height: 0.27rem;
    position: absolute;
    bottom: 3.47rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-family: PingFang-SC-Bold;
    font-size: 0.28rem;
    color: #ffffff;
    text-align: center;
}
.dot1{
    width: 0.11rem;
    height: 0.11rem;
    border-radius: 0.21rem;
    background-color: #7cf037;
    opacity: 0.51;
    position: absolute;
    left: 0.65rem;
    top: 0.14rem;
}
.dot2{
    width: 0.11rem;
    height: 0.11rem;
    border-radius: 0.21rem;
    background-color: #7cf037;
    position: absolute;
    left: 0.86rem;
    top: 0.14rem;
}
.dot3{
    width: 0.11rem;
    height: 0.11rem;
    border-radius: 0.21rem;
    background-color: #7cf037;
    position: absolute;
    right: 0.86rem;
    top: 0.14rem;
}
.dot4{
    width: 0.11rem;
    height: 0.11rem;
    border-radius: 0.21rem;
    background-color: #7cf037;
    opacity: 0.51;
    position: absolute;
    right: 0.65rem;
    top: 0.14rem;
}
.disanfangIcon{
    width:3.68rem;
    height: 0.62rem;
    position: absolute;
    bottom: 2.02rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.iconBox{
    width: 0.62rem;
    height: 0.62rem;
    border-radius: 50%;
    background-color: #ffffff;
    line-height: 0.62rem;
    text-align: center;
}
.iconBox>i.qq{
    color: #559dff;
    font-size: 0.4rem;
}
.iconBox>i.wx{
    color: #0e9a33;
    font-size: 0.4rem;
}
.iconBox>i.zhi{
    color: #0cb2ff;
    font-size: 0.4rem;
}